/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', sans-serif;
}

button {
    border: none;
    background: none;
}

body {
    background-color: #000;
    color: #fff;
    transition: background-color 3s;
}

.animate-color {
    animation: bgcolor 10s infinite;
}

/* background color animation: https://stackoverflow.com/questions/43371912/how-to-make-an-html-css-js-color-changing-background-like-kahoot-it-has */
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }
    20% {
        background-color: #66bf39
    }
    40% {
        background-color: #eb670f
    }
    60% {
        background-color: #f35
    }
    80% {
        background-color: #864cbf
    }
    100% {
        background-color: #45a3e5
    }
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* GAME START */
.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-size: cover;
}

.egg-div {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(128,128,128,.5);
}

.color-title {
    margin-bottom: 20px;
    font-size: 25px;
}

.egg-container {
    display: flex;
}

.color-pickers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 70px;
    cursor: pointer;
}

.background-pickers {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.background {
    margin: 0 20px;
}

.background-pickers {
    font-size: 70px;
    cursor: pointer;
}

.fas:hover {
    color: #39ff14;
}

.start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-entry {
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.game-button {
    font-size: 20px;
    cursor: pointer;
    border: 4px solid transparent;
    color: #fff;
    width: 150px;
}

.game-button:hover {
    color: #39ff14;
    border: 4px solid #39ff14;
}

/* SAVED PETS */
/* Reference on how to create a modal: https://www.w3schools.com/howto/howto_css_modals.asp */
.saved-pets-section {
    display: none;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 1;
    position: fixed;
}

.saved-pets-content {
    background-color: #fff;
    margin: 20% auto;
    width: 500px;
}

.saved-pets-table {
    color: #000;
}

.name {
    cursor: pointer;
}

.name:hover {
    color: #39ff14;
}

.clear {
    cursor: pointer;
    border: 4px solid transparent;
}

.clear:hover {
    color: #39ff14;
    border: 4px solid #39ff14;
}

.close {
    color: #000;
    font-size: 30px;
    cursor: pointer;
}

.close:hover {
    color: #39ff14;
}

/* GAME PLAY */
.play-screen {
    display: none;
}

/* STATS */
.stats-section {
    display: flex;
    justify-content: space-evenly;
}

.age-div {
    font-size: 30px;
}

.status-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-title {
    font-size: 25px;
}

.status-head {
    display: flex;
}

.bar {
    border: 2px solid #fff;
    width: 18px;
    height: 61px;
    border-radius: 4px;
    margin: 0 1px;
}

/* PET SECTION */
.pet-section {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pet-images {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.pet {
    margin-bottom: 0;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    transition: transform 5s;
}

.behind {
    display:none;
}

.pet-row {
    display: flex;
}

.pet-cell {
    width: 20px;
    height: 20px;
}

.eye-fill {
    background-color: #39ff14;
}

.pet-fill {
    background-color: #000000;
}

.behind-fill {
    background-color: #FFC0CB;
}

.foot-fill {
    background-color: #808080;
}

.tail-fill {
    background-color: #ffffff;
}

/* PET ANIMATIONS */
.pet-left {
    animation: pet-left 5s infinite;
}

@keyframes pet-left {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 2px
    }
    100% {
        margin-left: 0;
    }
}

.pet-right {
    animation: pet-right 5s infinite;
}

@keyframes pet-right {
    0% {
        width: 20px
    }
    50% {
        width: 25px
    }
    100% {
        width: 20px;
    }
}

.tail-animate {
    animation: tail-animate 5s infinite;
}

@keyframes tail-animate {
    0% {
        width: 20px;
    }
    50% {
        width: 15px;
    }
    100% {
        width: 20px;
    }
}

.tail-top {
    animation: tail-top 5s infinite;
}

@keyframes tail-top {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: 3px;
    }
    100% {
        margin-left: 0;
    }
}

.walking {
    animation-name: walking;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-delay: 10s;
}

@keyframes walking {
    0% {
        transform: rotate(0deg);
        margin-left: 100px;
    }
    14.2% {
        transform: rotate(3deg);
        margin-left: 200px;
    }
    28.4% {
        transform: rotate(-3deg);
        margin-left: 300px;
    }
    42.6% {
        transform: rotate(3deg);
        margin-left: 400px;
    }
    56.8% {
        transform: rotate(-3deg);
        margin-left: 500px;
    }
    71% {
        transform: rotate(3deg);
        margin-left: 600px;
    }
    85.2% {
        transform: rotate(-3deg);
        margin-left: 700px;
    }
    100% {
        transform: rotate(0deg);
        margin-left: 800px;
    }
}

/* ROCK PAPER SCISSORS */
.rps-container {
    display: none;
    position: absolute;
    right: 165px;
    top: 250px;
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 20px;
}

.rps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pet-choice {
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}
.rps-message {
    font-size: 22px;
    margin: 10px 0;
}

.player-choice-div {
    display: flex;
}

.player-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.rps-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    cursor: pointer;
}

.rps-image:hover {
    border: 4px solid #39ff14;
}

/* ACTIONS */
.action-section {
    display: flex;
    justify-content: space-around;
}

.action-button {
    font-size: 30px;
    cursor: pointer;
    border: 4px solid transparent;
    color: #fff;
    width: 240px;
}

.action-button:hover {
    color: #39ff14;
    border: 4px solid #39ff14;
}

.game-message {
    text-align: center;
    height: 30px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 1s;
    margin-bottom: 30px;
    margin-top: 20px;
}

.save-section {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 30px;
}

.save-section > .game-button {
    width: 200px;
    margin-right: 20px;
}

/* GAME END */
.end-section {
    display: none;
}

.end-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.end-message {
    text-align: center;
    margin-bottom: 20px;
}

/* CLASSES THAT CHANGE */
.reveal {
    opacity: 1;
}

.filled {
    background-color: #39ff14;
}

.hide {
    opacity: 0;
}