/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zen Dots', sans-serif;
}

button {
    border: none;
    background: none;
}

body {
    background-color: #000;
    color: #fff;
    /* animation: bgcolor 10s infinite; */
    transition: background-color 3s;
}

.animate-color {
    animation: bgcolor 10s infinite;
}

/* background color animation: https://stackoverflow.com/questions/43371912/how-to-make-an-html-css-js-color-changing-background-like-kahoot-it-has */
@keyframes bgcolor {
    0% {
        background-color: #45a3e5
    }
    20% {
        background-color: #66bf39
    }
    40% {
        background-color: #eb670f
    }
    60% {
        background-color: #f35
    }
    80% {
        background-color: #864cbf
    }
    100% {
        background-color: #45a3e5
    }
}

/* HEADER */
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
}

/* GAME START */
.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.egg-div {
    width: 500px;
    height: 500px;
    background-color: black;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pet-name {
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.submit-button {
    font-size: 20px;
    cursor: pointer;
    border: 4px solid transparent;
    color: #fff;
    width: 150px;
}

.submit-button:hover {
    color: #39ff14;
    border: 4px solid #39ff14;
}

/* GAME PLAY */
.play-screen {
    display: none;
}

/* STATS */
.stats-section {
    display: flex;
    justify-content: space-evenly;
}

.age-div {
    font-size: 30px;
}

.status-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.status-title {
    font-size: 25px;
}

.status-head {
    display: flex;
}

.bar {
    border: 2px solid #fff;
    width: 18px;
    height: 61px;
    border-radius: 4px;
    margin: 0 1px;
}

/* PET DIV */
.pet-section {
    margin-top: 50px;
    width: 100%;
    height: 400px;
}

.pet {
    width: 400px;
    height: 200px;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.head {
    display: flex;
    flex-direction: column;
}

.pet-row {
    display: flex;
}

.pet-cell {
    width: 20px;
    height: 20px;
    /* border: 1px solid white; */
}


/* ROCK PAPER SCISSORS */
.rps-container {
    display: none;
    position: absolute;
    right: 165px;
    top: 250px;
    background-color: rgba(0,0,0,.5);
    border-radius: 4px;
    padding: 20px;
}

.rps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pet-choice {
    margin-bottom: 20px;
    text-align: center;
    opacity: 0;
    transition: opacity 1s;
}
.rps-message {
    font-size: 22px;
    margin: 10px 0;
}

.player-choice-div {
    display: flex;
}

.player-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
}

.rps-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    cursor: pointer;
}

.rps-image:hover {
    border: 4px solid #39ff14;
}

/* ACTIONS */
.action-section {
    display: flex;
    justify-content: space-around;
}

.action-button {
    font-size: 30px;
    cursor: pointer;
    border: 4px solid transparent;
    color: #fff;
    width: 240px;
}

.action-button:hover {
    color: #39ff14;
    border: 4px solid #39ff14;
}

.game-message {
    text-align: center;
    height: 30px;
    font-size: 30px;
    opacity: 0;
    transition: opacity 1s;
    margin-bottom: 30px;
    margin-top: 20px;
}

.end-message {
    text-align: center;
}

/* CLASSES THAT CHANGE */
.reveal {
    opacity: 1;
}

.filled {
    background-color: #39ff14;
}

.pet-fill {
    background-color: black;
}

.foot-fill {
    background-color: gray;
}

.tail-fill {
    background-color: white;
}

.eye-fill {
    background-color: #39ff14;
}

.lights-off {
    z-index: 1;
    opacity: .5;
    background-image: url("https://images.unsplash.com/photo-1534796636912-3b95b3ab5986?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8c3RhcnJ5JTIwc2t5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60");
}